{% load plotly_dash %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
  <title>COVID 19 SIMULATOR</title>
  <!-- Iconic Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/flat-icons/flaticon.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- jQuery UI -->
  <link href="{% static 'assets/css/jquery-ui.min.css' %}" rel="stylesheet">
  <!-- mylo styles -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="M-favicon.png">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>



</head>

<body class="ms-body ms-aside-left-open ms-dark-theme ms-has-quickbar" >

  <!-- Setting Panel -->
  <div class="ms-toggler ms-settings-toggle ms-d-block-lg">
    <i class="flaticon-paint"></i>
  </div>
  <div class="ms-settings-panel ms-d-block-lg">
    <div class="row">

      <div class="col-xl-4 col-md-4">
        <h4 class="section-title">Customize</h4>
        <div>
          <label class="ms-switch">
             <input type="checkbox" id="dark-mode">
             <span class="ms-switch-slider round"></span>
           </label>
          <span>Light Mode</span>
        </div>
        <div>
          <label class="ms-switch">
             <input type="checkbox" id="remove-quickbar">
             <span class="ms-switch-slider round"></span>
           </label>
          <span> Remove Quickbar </span>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <h4 class="section-title">Keyboard Shortcuts</h4>
        <p class="ms-directions mb-0"><code>Esc</code> Close Quick Bar</p>
        <p class="ms-directions mb-0"><code>Alt + (1 -> 6)</code> Open Quick Bar Tab</p>
        <p class="ms-directions mb-0"><code>Alt + Q</code> Enable Quick Bar Configure Mode</p>

      </div>


    </div>
  </div>

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>

  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>

  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">

    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" href="pages/dashboard/index.html"> <img src="https://via.placeholder.com/137x51" alt="logo"> </a>
    </div>

    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">


        <!-- Advanced UI Elements -->
        <li class="menu-item">
             <div class="form-group">
                <label>Population</label>
                <input id='population_id' class="form-control"  aria-describedby="population" placeholder="Number of inhabitants" value="7727029" type="number" oninput="this.value = Math.round(this.value);">
                <small id="population_help_id" class="form-text text-muted">You must introduce an integer for this field</small>
              </div>
        </li>
        <!-- /Advanced UI Elements -->

         <!-- Advanced UI Elements -->
        <li class="menu-item">
             <div class="form-group">
                <label>Timesteps</label>
                <input id='timesteps_id' class="form-control"  aria-describedby="timesteps" placeholder="Number of timesteps" value="200" type="number" oninput="this.value = Math.round(this.value);">
                <small id="population_help_id" class="form-text text-muted">You must introduce an integer for this field</small>
              </div>
        </li>
        <!-- /Advanced UI Elements -->

        <!-- Form Elements -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <span><i class="fs-16"></i>Lockdowns</span>
            </a>
            <ul id="form-elements" class="collapse" aria-labelledby="form-elements" data-parent="#side-nav-accordion">
              <li id="lockdown_panel">
                  <a  href="#" class="has-chevron" data-toggle="collapse" data-target="#lockdown_new" aria-expanded="false" aria-controls="lockdown_new">
                    New Lockdown
                  </a>
                  <ul id="lockdown_new" class="collapse" aria-labelledby="lockdown_new">
                      <div>
                          <style>
                                .center_lockdown{
                                    height: 100%;
                                    width: 100%;
                                    display: block;
                                    text-align: center;
                                    line-height: 100%;
                                    font-size: 1.0em;
                                }
                            </style>
                            <label>Init timestep lockdown</label>
                            <input id='init_time_step' class="form-control number_style"  value="1" min="0" type="number" oninput="this.value = Math.round(this.value);">
                            <label>Final timestep lockdown</label>
                            <input id='final_time_step' class="form-control number_style"  value="1" min="0" type="number" oninput="this.value = Math.round(this.value);">
                            <label>Lockdown Mobility Reduction</label>
                            <input id='lockdown_severity' class="form-control number_style"  type="number" value="0.00" min="0" max="100" step="0.01">
                            <small class="form-text text-muted">You must introduce a %. 100% means there isn't mobility at all.</small>
                            <label>Lockdown Permeability</label>
                            <input id= "lockdown_permeability" class="form-control number_style" type="number" value="0.00" min="0" step="0.01">
                            <label>Lockdown Social Distance</label>
                            <input id= "lockdown_distance" class="form-control number_style" type="number" value="0.00" min="0" step="0.01">
                            <small class="form-text text-muted">Social distance is represented in Meters.</small>

                            <select id="lockdown_select" class="form-select center_lockdown" aria-label="Default select example" hidden>
                              <option selected style="float: right;">Lockdown type</option>
                              <option value="especulata">especulata</option>
                              <option value="sica">sica</option>
                              <option value="gladius">gladius</option>
                            </select>

                           <button id="lockdown_button" type="button" class="btn btn-primary btn-lg center_lockdown">Add lockdown</button>
                      </div>
                  </ul>
              </li>
            </ul>
        </li>
        <!-- /Form Elements -->

        <!-- Charts -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#charts" aria-expanded="false" aria-controls="charts">
              <span><i class="material-icons fs-16">equalizer</i>Charts</span>
            </a>
            <ul id="charts" class="collapse" aria-labelledby="charts" data-parent="#side-nav-accordion">
              <li> <a href="pages/charts/chartjs.html">Chart JS</a> </li>
              <li> <a href="pages/charts/morris-charts.html">Morris Chart</a> </li>
            </ul>
        </li>
        <!-- /Charts -->

        <!-- Simulator Button -->
        <li class="menu-item">
            <style>
                #init_simulation{
                    height: 100%;
                    width: 100%;
                    display: block;
                    text-align: center;
                    line-height: 100%;
                    font-size: 2.0em;
                }
            </style>
            <button type="button" class="btn btn-danger" id="init_simulation">SIMULATION</button>

        </li>
        <!-- /Apps -->
    </ul>


  </aside>

  <!-- Sidebar Right -->
  <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">

    <div class="ms-aside-header">
      <ul class="nav nav-tabs tabs-bordered d-flex nav-justified mb-3" role="tablist">
        <li role="presentation" class="fs-12"><a href="#activityLog" aria-controls="activityLog" class="active" role="tab" data-toggle="tab"> Activity Log</a></li>
        <li role="presentation" class="fs-12"><a href="#recentPosts" aria-controls="recentPosts" role="tab" data-toggle="tab"> Settings </a></li>
        <li><button type="button" class="close ms-toggler text-center" data-target="#ms-recent-activity" data-toggle="slideRight"><span aria-hidden="true">&times;</span></button></li>
      </ul>
    </div>

    <div class="ms-aside-body">

       <div class="tab-content">

         <div role="tabpanel" class="tab-pane active fade show" id="activityLog">
           <ul class="ms-activity-log">
             <li>
               <div class="ms-btn-icon btn-pill icon btn-light">
                 <i class="flaticon-gear"></i>
               </div>
               <h6>Update 1.0.0 Pushed</h6>
               <span> <i class="material-icons">event</i>1 January, 2019</span>
               <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, ula in sodales vehicula....</p>
             </li>
             <li>
               <div class="ms-btn-icon btn-pill icon btn-success">
                 <i class="flaticon-tick-inside-circle"></i>
               </div>
               <h6>Profile Updated</h6>
               <span> <i class="material-icons">event</i>4 March, 2018</span>
               <p class="fs-14">Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
             </li>
             <li>
               <div class="ms-btn-icon btn-pill icon btn-warning">
                 <i class="flaticon-alert-1"></i>
               </div>
               <h6>Your payment is due</h6>
               <span> <i class="material-icons">event</i>1 January, 2019</span>
               <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, ula in sodales vehicula....</p>
             </li>
             <li>
               <div class="ms-btn-icon btn-pill icon btn-danger">
                 <i class="flaticon-alert"></i>
               </div>
               <h6>Database Error</h6>
               <span> <i class="material-icons">event</i>4 March, 2018</span>
               <p class="fs-14">Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
             </li>
             <li>
               <div class="ms-btn-icon btn-pill icon btn-info">
                 <i class="flaticon-information"></i>
               </div>
               <h6>Checkout what's Trending</h6>
               <span> <i class="material-icons">event</i>1 January, 2019</span>
               <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, ula in sodales vehicula....</p>
             </li>
             <li>
               <div class="ms-btn-icon btn-pill icon btn-secondary">
                 <i class="flaticon-diamond"></i>
               </div>
               <h6>Your Dashboard is ready</h6>
               <span> <i class="material-icons">event</i>4 March, 2018</span>
               <p class="fs-14">Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
             </li>
           </ul>
           <a href="#" class="btn btn-primary d-block"> View All </a>
         </div>

         <div role="tabpanel" class="tab-pane fade" id="recentPosts">

           <h6>General Settings</h6>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Location Tracking</span>
             <label class="ms-switch float-right">
               <input type="checkbox">
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Allow Notifications</span>
             <label class="ms-switch float-right">
               <input type="checkbox">
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Allow Popups</span>
             <label class="ms-switch float-right">
               <input type="checkbox" checked>
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <h6>Log Settings</h6>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Enable Logging</span>
             <label class="ms-switch float-right">
               <input type="checkbox" checked>
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Audit Logs</span>
             <label class="ms-switch float-right">
               <input type="checkbox">
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Error Logs</span>
             <label class="ms-switch float-right">
               <input type="checkbox" checked>
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <h6>Advanced Settings</h6>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Enable Logging</span>
             <label class="ms-switch float-right">
               <input type="checkbox" checked>
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Audit Logs</span>
             <label class="ms-switch float-right">
               <input type="checkbox">
               <span class="ms-switch-slider round"></span>
             </label>
           </div>
           <div class="ms-form-group">
             <span class="ms-option-name fs-14">Error Logs</span>
             <label class="ms-switch float-right">
               <input type="checkbox" checked>
               <span class="ms-switch-slider round"></span>
             </label>
           </div>

         </div>

       </div>

    </div>

  </aside>

  <!-- Main Content -->
  <main class="body-content">

    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">

      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

    </nav>


    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper" style="padding-left: 10px;">
      <div class="row">
        <div class="col-xl-3 col-md-6" style="padding-left: 10px;">
          <div class="ms-card card-gradient-success ms-widget ms-infographics-widget">
            <div class="ms-card-body media">
              <div class="media-body">
                <h6>Infected</h6>
                <p class="ms-card-change" id="infected_id">  ?</p>
              </div>
            </div>
            <i class="flaticon-statistics"></i>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" style="padding-left: 10px;">
          <div class="ms-card card-gradient-info ms-widget ms-infographics-widget">
            <div class="ms-card-body media">
              <div class="media-body">
                <h6>Icus</h6>
                <p class="ms-card-change", id="icus_id"> ?</p>
              </div>
            </div>
            <!--
            <i class="flaticon-reuse"></i>
            -->
          </div>
        </div>

        <div class="col-xl-3 col-md-6" style="padding-left: 10px;">
          <div class="ms-card card-gradient-warning ms-widget ms-infographics-widget">
            <div class="ms-card-body media">
              <div class="media-body">
                <h6>Cases (overall)</h6>
                <p class="ms-card-change" id="cases_id"> ? </p>
              </div>
            </div>
            <!--
            <i class="flaticon-user"></i>
            -->
          </div>
        </div>

        <div class="col-xl-3 col-md-6" style="padding-left: 10px;">
          <div class="ms-card card-gradient-danger ms-widget ms-infographics-widget">
            <div class="ms-card-body media">
              <div class="media-body">
                <h6>Deaths (overall)</h6>
                <p class="ms-card-change" id="deaths_id"> ? </p>
              </div>
            </div>
            <!--
            <i class="flaticon-information"></i>
            -->
          </div>
        </div>


        <!-- timesteps range -->
        <div class="col-md-12" style="padding-left: 10px;">
         <div class="ms-panel">
            <style>
                #time_steps_range{
                  height: 100%;
                  width: 100%;
                }
                #time_steps_title{
                    display: block;
                    text-align: center;
                    line-height: 150%;
                    font-size: 2.0em;
                }
            </style>
            <label class="form-label" for="customRange2" id="time_steps_title">Time steps Model (select model)</label>
            <div class="range" id="time_steps_div">
              <input type="range" class="form-range" min="0" max="100" id="time_steps_range" disabled/>
            </div>
         </div>
        </div>



        <style>

            #map{
                width: 100%;
                min-height: 100%;
                min-width: 100%;
                display: block;
            }

            @media only screen and (max-width: 900px) {

                #map { height: 500px; /* Or whatever floats your boat*/ }


            }

            html, body
            {
                height: 100%;
            }

            #map-holder{
                height: 100%;
            }

            .fill
            {
                min-height: 100%;
                height: 100%;
                width: 100%;
                max-width: 100%;
            }

            .container{
                max-width:60em;
                height: 600px;
                max-height:60em;
                padding: 0.2em;
            }


	   </style>
        <!-- They never sleep-->
        <div class="col-xl-6" style="padding-left: 10px;">
          <div class="row">
                 <div class="col-sm">
                    <button id="button_strata_1" class="btn-secondary">Strata 1</button>
                 </div>
                 <div class="col-sm">
                    <button id="button_strata_2" class="btn-secondary">Strata 2</button>
                 </div>
                <div class="col-sm">
                    <button id="button_strata_3" class="btn-secondary">Strata 3</button>
                </div>
            </div>
          <div class="ms-panel">
              <div id="map-holder">
                <div class="container fill">
                    <div id="map"></div>
                </div>
              </div>
          </div>
        </div>

        <div class="col-xl-6">
            <div class="row">
                 <div class="col-sm">
                    <button id="button_exposed_strata_graph_map" class="btn-secondary">Exposed</button>
                    <button id="button_asymtomatic_strata_graph_map" class="btn-secondary">Asymptomatic</button>
                 </div>
                 <div class="col-sm">
                    <button id="button_infected_strata_graph_map" class="btn-secondary">Infected</button>
                    <button id="button_hospitalized_strata_graph_map" class="btn-secondary">Pre-hospitalized</button>
                 </div>
                <div class="col-sm">
                    <button id="button_pre_deceased_strata_graph_map" class="btn-secondary">Pre-deceased</button>
                    <button id="button_recovered_strata_graph_map" class="btn-secondary">Recovered</button>
                </div>
                <div class="col-sm">
                    <button id="button_hospitalized_icu_strata_graph_map" class="btn-secondary">Hospitalized in ICU</button>
                    <button id="button_deceased_strata_graph_map" class="btn-secondary">Deceased</button>
                </div>
            </div>
            <div id="map_graph"></div>
        </div>




        <div class="col" style="padding-left: 10px;">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Graphs Overall</h6>
                <div class="row">
                 <div class="col-sm">
                    <button id="button_exposed_strata_graph" class="btn-secondary">Exposed</button>
                    <button id="button_asymtomatic_strata_graph" class="btn-secondary">Asymptomatic</button>
                 </div>
                 <div class="col-sm">
                    <button id="button_infected_strata_graph" class="btn-secondary">Infected</button>
                    <button id="button_hospitalized_strata_graph" class="btn-secondary">Pre-hospitalized</button>
                 </div>
                <div class="col-sm">
                    <button id="button_pre_deceased_strata_graph" class="btn-secondary">Pre-deceased</button>
                    <button id="button_recovered_strata_graph" class="btn-secondary">Recovered</button>
                </div>
                <div class="col-sm">
                    <button id="button_hospitalized_icu_strata_graph" class="btn-secondary">Hospitalized in ICU</button>
                    <button id="button_deceased_strata_graph" class="btn-secondary">Deceased</button>
                </div>
        </div>

        <div id="main_graph"></div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Reminder Modal -->
  <div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="reminder-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white"> New Reminder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <form>

        <div class="modal-body">

          <div class="ms-form-group">
            <label>Remind me about</label>
            <textarea class="form-control" name="reminder"></textarea>
          </div>

          <div class="ms-form-group">
            <span class="ms-option-name fs-14">Repeat Daily</span>
            <label class="ms-switch float-right">
              <input type="checkbox">
              <span class="ms-switch-slider round"></span>
            </label>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="ms-form-group">
                <input type="text" class="form-control datepicker" name="reminder-date" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="ms-form-group">
                <select class="form-control" name="reminder-time">
                  <option value="">12:00 pm</option>
                  <option value="">1:00 pm</option>
                  <option value="">2:00 pm</option>
                  <option value="">3:00 pm</option>
                  <option value="">4:00 pm</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Reminder</button>
        </div>

        </form>

      </div>
    </div>
  </div>

  <!-- Notes Modal -->
  <div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white" id="NoteModal">New Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <form>

        <div class="modal-body">

          <div class="ms-form-group">
            <label>Note Title</label>
            <input type="text" class="form-control" name="note-title" value="">
          </div>

          <div class="ms-form-group">
            <label>Note Description</label>
            <textarea class="form-control" name="note-description"></textarea>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Note</button>
        </div>

        </form>

      </div>
    </div>
  </div>

  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <script src="{% static 'covid_graphs.js' %}"></script>
  <script src="{% static 'covid_graph_map.js' %}"></script>
  <script src="{% static 'map_cat.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <script src="{% static 'assets/js/project-management.js' %}"> </script>
  <!-- Page Specific Scripts Finish -->

  <!-- mylo core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>


  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"></script>


</body>

